* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb;
}

a {
  text-decoration: none;
}

.MuiDataGrid-root {
  background-color: white;
  border-radius: 8px;
}

